.host-nav ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  padding: 0;
}

.host-nav li a {
  text-decoration-line: none;
  color: #333;
}

.host-nav li a.active {
  text-decoration-line: underline;
  text-underline-offset: 3px;
  font-weight: bold;
}
